/*asterisk wildcard selector to override default styles*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*header*/
header {
    background-color:#dcaf91;
}
/*main*/
main {
    background-color:#f6faf2;
}

/*footer*/
footer {
    background-color:#392b36;
}